<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="favicon.ico?" type="image/x-icon">
    <title>{{ page.title }} - Work in progress ...</title>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>